body {
  font-family: "Comic Sans MS", Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 1.42857143;
  color: 	#8B008B;
  background-image: url(http://data.whicdn.com/images/211310792/large.jpg) ;
  text-align: center;
}
p {
  color: #008000;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    margin: auto;
    width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}
ul,
ol {
    margin-top: none ;
    margin-bottom: 10px;
    list-style: none;
} 

.nav li a{
    background-color: #000;
    color:#fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
    
}

.nav > li{
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;

}

.nav li:hover > ul{
    display: block;

}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}



.slider{
	margin: auto;
	overflow: hidden;
 
	width: 800px;
    height: 500px
}
.slider ul{
	display: flex;
	padding: 0;
	width: 400%;
 
	animation:cambio 20s infinite;
	animation-direction:alternate;
}
.slider li{
	list-style: none;
	width: 100%;
}
.slider img{
	width: 500px;
    border: 0;
}
@keyframes cambio{
	0%{margin-left: 0;}
    20%{margin-left: 0;}
 
	25%{margin-left: -100%;}
	45%{margin-left: -100%;}
 
	50%{margin-left: -200%;}
	70%{margin-left: -200%;}
 
	75%{margin-left: -300%;}
	100%{margin-left: -300%;}

